

  @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Kay+Pho+Du&display=swap');

  .title{
    font-family: 'Kay Pho Du', serif;
    text-align: center;
  }

  .Header{
    text-align: center;
  }

.footer{
  text-align: center;
}

